/*
 * This file contains style rules specific to the Filla Fulla Story, 
 * rather than generic to the Trialogue Story Format
 */

/* Variables */

:root {
  --color-filla: #4990E2;
  --color-fulla: #D0011B;
  --color-you:   #417505;
}

/* General */

body {
  font-family: HopeSans;
}

/* Passage Avatars */

.chat-passage-wrapper[data-speaker='ty']:after {
  content: url(https://fillafulla.sng.sk/img/avatar-user.png);
}
.chat-passage-wrapper[data-speaker='filla']:before {
  content: url(https://fillafulla.sng.sk/img/avatar-filla.png);
}
.chat-passage-wrapper[data-speaker='fulla']:before {
  content: url(https://fillafulla.sng.sk/img/avatar-fulla.png);
}

/* Speaker Name Colors & Alignment */

.chat-passage-wrapper[data-speaker='ty'] .chat-passage:before {
  color: var(--color-you);
}
.chat-passage-wrapper[data-speaker='filla'] .chat-passage:before {
  color: var(--color-filla);
}
.chat-passage-wrapper[data-speaker='fulla'] .chat-passage:before {
  color: var(--color-fulla);
}

/* User Response Panel */

.user-response-panel .user-response:hover {
  border: 2px solid var(--color-you) !important;
}


/*
 * Left Sidebar
 */

div.left-sidebar .cross-logo {
  height: 16rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
div.left-sidebar .cross-logo span {
  position: absolute;
  white-space: nowrap;
}
div.left-sidebar .cross-logo span.rotate-cw {
  transform: translateX(-50%) translateY(8rem) rotate(45deg);
}
div.left-sidebar .cross-logo span.rotate-ccw {
  transform: translateX(-50%) translateY(8rem) rotate(-45deg);
}

div.left-sidebar .fillafullachat {
  width: 160px;
}
@media (min-width: 1200px) {
  div.left-sidebar .fillafullachat {
    width: 200px;
  }
  div.left-sidebar .cross-logo {
    font-size: 1.4rem;;
  }
}

/*
 * Right Sidebar
 */

div.right-sidebar .share-container .social-links i {
  margin-right: 10px;
  display: inline-block;
}