<!DOCTYPE html>
<html>
<head>
    <title>
    <%= name %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <%= stylesheet %>
</head>
<body class="bg-white">

    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="/"><img class="nav-icon nav-icon-back" src="https://fillafulla.sng.sk/img/icon-back.svg"></a>
        <h1 id="ptitle" class="nav-title"><%= name %></h1>
        <div id="psub">
            <span id="psubtitle"></span>
            <span id="pauthor"></span>
        </div>
        <button class="navbar-toggler p-0 border-0 d-lg-none" type="button" data-toggle="offcanvas">
            <img class="nav-icon nav-icon-menu" src="https://fillafulla.sng.sk/img/icon-hamburger.svg">
        </button>
    </nav>

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="left-sidebar col-lg d-none d-lg-block">
                <div class="position-fixed pt-3 pt-lg-5 p-lg-4">
                    <img class="fillafullachat mw-100" src="https://fillafulla.sng.sk/img/logo.svg" alt="Filla Fulla Chat">
                    <h3 class="cross-logo">
                        <span class="rotate-cw font-italic font-weight-normal">
                          Made in Czechoslovakia
                        </span>
                        <span class="rotate-ccw font-weight-normal">
                          Osud umělce&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Osud umelca
                        </span>
                    </h3>
                </div>
            </div>
            <div class="chat-panel col-lg-6 minh-full bg-light-grayish-orange">
                <div id="phistory" class="chat-history"></div>
                <div id="passage"></div>
                <div id="animation-container">
                    <div class="chat-passage-wrapper">
                        <div class="chat-passage">
                            <div class="wave">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-response-panel fixed-bottom bg-light-grayish-orange">
                    <hr>
                    <div class="user-response-hint">Vyberte si jednu z možností a pokračujte v konverzácii</div>
                    <div id="user-response-panel" class="user-reponse-wrapper"></div>
                </div>

            </div>
            <div class="right-sidebar col-lg offcanvas-collapse bg-white">
                <div class="position-fixed m-5 m-lg-0 p-5 p-lg-4 pt-lg-5 ">
                    <p class="lead">
                        Aplikácia približuje životné príbehy umelcov Emila Fillu a Ľudovíta Fullu formou interaktívneho rozhovoru. Chat dopĺňajú ukážky z&nbsp;tvorby autorov a&nbsp;archívne materiály.
                    </p>
                    <div class="share-container text-dark">
                        <p class="font-weight-normal">
                            Páči sa vám chat s Fillom a Fullom? Podeľte sa oň s vašimi priateľmi a&nbsp;zdieľajte túto stránku na sociálnych sieťach alebo e-mailom.
                        </p>
                        <div class="social-links mt-2">
                            <a class="text-dark" href="https://www.facebook.com/sharer/sharer.php?u=http://fillafulla.sng.sk"><i class="fab fa-facebook-f"></i></a>
                            <a class="text-dark" href="https://twitter.com/home?status=Chatuj%20s%20umelcami%20Emilom%20Fillom%20a%20%C4%BDudov%C3%ADtom%20Fullom%20v%20novej%20aplik%C3%A1cii%20od%20Lab.SNG%3A%0Ahttp%3A%2F%2Ffillafulla.sng.sk"><i class="fab fa-twitter"></i></a>
                            <a class="text-dark" href="mailto:?subject=Neprehliadnite: Filla Fulla Chat&amp;body=Na webstránke Slovenskej národnej galérie som objavil projekt, ktorý by Vás mohol zaujímať:%0A%0AFilla Fulla Chat%0Ahttp://fillafulla.sng.sk" target="_blank"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%= passages %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            'use strict'

            $('[data-toggle="offcanvas"]').on('click', function () {
                $('.offcanvas-collapse').toggleClass('open')
            })
        })
    </script>
    <%= script %>
</body>
</html>
