<!DOCTYPE html>
<html>
<head>
    <title>
    <%= name %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <%= stylesheet %>
</head>
<body class="bg-white">

    <nav class="navbar navbar-expand-lg fixed-top">
        <a id="nav-link-back" class="content-container" href="/" data-toggle="modal" data-target="#exitModal">
            Back
        </a>
        <h1 id="ptitle" class="nav-title"><%= name %></h1>
        <div id="psub">
            <span id="psubtitle"></span>
            <span id="pauthor"></span>
        </div>
        <button id="nav-link-menu" class="content-container navbar-toggler p-0 border-0 d-lg-none" type="button" data-toggle="offcanvas">
            Menu
        </button>
    </nav>

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="left-sidebar col-lg d-none d-lg-block">
                <div id="left-sidebar-container" class="content-container position-fixed mt-3 mt-lg-5 m-lg-4"></div>
            </div>
            <div class="chat-panel col-lg-6 minh-full bg-light-grayish-orange">
                <div id="phistory" class="chat-history"></div>
                <div id="passage"></div>
                <div id="animation-container">
                    <div class="chat-passage-wrapper">
                        <div class="chat-passage">
                            <div class="wave">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-response-panel fixed-bottom bg-light-grayish-orange">
                    <hr>
                    <div id="user-response-hint" class="user-response-hint content-container"></div>
                    <div id="user-response-panel" class="user-reponse-wrapper"></div>
                </div>

            </div>
            <div class="right-sidebar col-lg offcanvas-collapse">
                <div class="position-fixed ml--3 w-100 w-lg-auto h-100">
                    <div id="right-sidebar-container" class="content-container m-3 m-sm-5 m-lg-3 mt-lg-5 m-xl-5 mt-xl-5"></div>
                </div>
            </div>
        </div>

    </main>

    <%= passages %>

    <!-- Modal -->
    <div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="exitModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title content-container" id="exitModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body content-container"></div>
          <div class="modal-footer content-container"></div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            'use strict'

            $('[data-toggle="offcanvas"]').on('click', function () {
                $('.offcanvas-collapse').toggleClass('open')
            })
        })

        /*
         * Helper functions for injecting content into markup
         * can be called from Story JavaScript to insert story specific content
         */
        function inject_nav_back(htmlContent) {
            $('#nav-link-back').css('display', 'none').html(htmlContent).fadeIn();
        }
        function inject_nav_menu(htmlContent) {
            $('#nav-link-menu').css('display', 'none').html(htmlContent).fadeIn();
        }
        function inject_left_sidebar(htmlContent) {
            $('#left-sidebar-container').css('display', 'none').html(htmlContent).fadeIn();
        }        
        function inject_right_sidebar(htmlContent) {
            $('#right-sidebar-container').css('display', 'none').html(htmlContent).fadeIn();
        }
        function inject_hint(htmlContent) {
            $('#user-response-hint').css('display', 'none').html(htmlContent).fadeIn();
        }
        function inject_modal(titleContent, bodyContent, footerContent) {
            // skip fadeIn because modal is off screen
            $('#exitModal .modal-title').html(titleContent);
            $('#exitModal .modal-body').html(bodyContent);
            $('#exitModal .modal-footer').html(footerContent);
        }
    </script>
    <%= script %>
</body>
</html>
